<HTML>
  <HEAD>
    <style> 
    body 
    {
     background:url("http://puzzle.multunus.com/assets/watch_minimized-8f2f2b01514d433754b4f2c47d4cee58.png");
     background-size:1500px 900px;
     background-repeat:no-repeat;
     padding-top:40px;
     }
     div.main-profile-image {
     position: absolute;
     width: 300px;
     height: 300px;
     margin-left: auto;
     left: 450px;
     top: 200px;
     }
     .squared{
    -moz-border-radius: 300px/300px;
    -webkit-border-radius: 300px 300px;
    border-radius: 300px/300px;; 
    width:300px;
    height:300px;  
     }
     
      div.radial-list{
      }
       .infulence-image{
        -moz-border-radius: 100px/100px;
        -webkit-border-radius: 100px 100px;
        border-radius: 100px/100px;; 
        width:100px;
       height:100px;  
     }
}
   </style>
  </HEAD>
    <body>
      <div class="main-profile-image">
        <img class="squared" src="http://pbs.twimg.com/profile_images/79787739/mf-tg-sq.jpg">
      </div>
      <div class='radial-list'>
	<% count = 1 %>
		  <% @cache[0..9].each do |result| %>
     		<a data-original-title='<%= count %>' data-placement='top' data-toggle='tooltip' href='#' title='' >
          <img class='infulence-image' src='<%= result[:profile_image] %>'>
				</a>
    		<% count = count+1 %>
     <% end %>
    	</div>
    </body>
</HTML>