<HTML>
  <HEAD>
    <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </HEAD>
    <body>
      <div class="radial-list">
        <a href="/martinfowler"><img class="infulence-image" src="http://pbs.twimg.com/profile_images/79787739/mf-tg-sq.jpg"></a>
        <a href="/firefox"><img class="infulence-image" src="http://pbs.twimg.com/profile_images/378800000324784929/1a4ee3fde80808a96ed268a7fb94682d.png"></a>
        <a href="/github"><img class="infulence-image" src="http://pbs.twimg.com/profile_images/426158315781881856/sBsvBbjY.png"></a>
        <a href="/timoreilly"><img class="infulence-image" src="http://pbs.twimg.com/profile_images/2823681988/f4f6f2bed8ab4d5a48dea4b9ea85d5f1.jpeg"></a>
        <a href="/gvanrossum"><img class="infulence-image" src="http://pbs.twimg.com/profile_images/424495004/GuidoAvatar.jpg"></a>
        <a href="/BillGates"><img class="infulence-image" src="http://pbs.twimg.com/profile_images/1884069342/BGtwitter.JPG"></a>
        <a href="/spolsky"><img class="infulence-image" src="http://pbs.twimg.com/profile_images/378800000091193257/fcb03c8d0a40048f2537df967239686f.jpeg"></a>
    </body>
</HTML>